{% extends "base_generic.html" %}

{% load guardian_tags %}

{% get_obj_perms request.user for object as 'object_perms' %}


    {% block content %}

        {% if "dm_auth" in object_perms %}
        <hr>
        <ul class="sidebar-nav">
            <li><a href="{% url 'campaign-update' campaign.id %}">Edit</a></li>
            </ul>
        {% endif %}

        
        {% if "player_auth" in object_perms %}
            <h1>{{character.name}}</h1>

        {%endif%}

        

    {% endblock %}